@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

.container {
  text-align: center;
  overflow-x: hidden;
}

body.no-scroll {
  overflow-x: hidden;
}

.header .divTitlePrincipal {
  color: #08A6E4;
  font-family: "Raleway";
  height: 150px;
  align-self: start;
  position: relative;
  bottom: 25px;
}

.parrafosCabecera {
  display: none;
}

.progressBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  z-index: 999;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #08A6E4;
}

.header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: fixed;
  height: 100px;
  border: solid #FFFFFF;
  justify-content: center;
  margin-bottom: 0 !important;
  z-index: 1000;
  top: 0;
  background-color: white;
}

.returnTop {
  background-color: white;
  color: #08A6E4;
  /*   bottom: 16px;*/
  right: 32px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  justify-self: end;
  position: fixed;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.returnTop.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.navMenu {
  position: absolute;
  top: 80px;
  right: 20;
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  visibility: hidden;
  letter-spacing: 5px;
  text-align: left;
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0s linear 0.5s;
}

.navMenu.visible {
  transform: scaleY(1);
  visibility: visible;
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.menuHamburguesaJS {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 30px;
  font-family: "Open Sans";
  justify-self: left;
  padding-right: 30px;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-top: 0;
}

.menuHamburguesaJS li {
  margin: 10px 0;
}

.menuHamburguesaJS li a {
  text-decoration: none;
  color: #000000;
}

.cruzMenu {
  height: 50px;
  width: 50px;
  position: relative;
  left: 860px;
  bottom: 60px;
  display: block;
  font-size: 50px;
  color: #08A6E4;
  border: none;
  background-color: white;
}

.divTitlePrincipal .iconoMenu {
  height: 40px;
  width: 60px;
  position: relative;
  bottom: 150px;
  right: -400px;
  font-size: 50px;
  background: none;
  border: none;
  color: #08A6E4;
}

.titlePrincipal {
  font-weight: 300;
  font-size: 70px;
  font-family: "Raleway";
  position: relative;
  /*  top: 40px;
      right: 35px;*/
  justify-self: left;
  margin-left: 20px;
  bottom: 25px;
  left: 40px;
}

.btnOpenYourShop {
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 58px 58px 58px 55px;
  height: 120px;
  width: 600px;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Raleway";
  margin-top: 80px;
}

.textoOpenYourShop {
  position: relative;
  color: white;
  bottom: 100px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
}

.textoOpenShopOnOurPlatform {
  font-weight: 450;
  font-size: 25px;
  font-family: "Raleway";
}

.imagenPequeñaOrdenador {
  /* margin-left: 300px;
      margin-right: 300px;*/
  height: 100%;
  width: 100%;
  align-content: center;
}

.MostPopularSales {
  font-size: 70px;
}

.imagenGrandeOrdenador {
  display: none;
}

.IconsWithColors {
  text-align: center;
}

.redIcon .blueIcon .greenIcon {
  margin: 20px;
  position: relative;
}

.redIconColorRojo, .redIconColorAzul, .redIconColorVerde {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.redIcon img {
  position: relative;
  z-index: 2;
  left: 30px;
  height: 130px;
}

.blueIcon img {
  position: relative;
  z-index: 2;
  left: 30px;
  height: 90px;
}

.greenIcon img {
  position: relative;
  z-index: 2;
  left: 30px;
  height: 100px;
}

.redIconColorRojo {
  background-color: #FB3B64;
  height: 140px;
  width: 140px;
  position: relative;
  top: 145px;
  right: 15px;
  z-index: 1;
}

.redIconColorAzul {
  background-color: #08A6E4;
  height: 140px;
  width: 140px;
  position: relative;
  z-index: 1;
}

.blueIcon .redIconColorAzul {
  position: relative;
  right: 15px;
  top: 110px;
}

.redIconColorVerde {
  background-color: #55DFB4;
  height: 140px;
  width: 140px;
  position: relative;
  top: 10px;
  z-index: 1;
}

.greenIcon .redIconColorVerde {
  position: relative;
  right: 15px;
  top: 120px;
}

.IconsWithColors h2 {
  font-weight: 300;
  font-family: "Raleway";
}

.IconsWithColors h3 {
  letter-spacing: 10px;
  font-family: "Raleway";
  font-size: 50px;
}

.IconsWithColors h4 {
  font-weight: 300;
  color: grey;
  font-family: "Raleway";
  font-size: 20px;
}

.blueIcon .blueIconColorAzul {
  position: relative;
}

.greenIcon .greenIconColorVerde {
  position: relative;
}

.seccion3 {
  background-color: #F7F7F7;
  width: 100%;
  height: auto;
  align-content: center;
  position: relative;
  margin: 0 auto;
}

.titleBeAlwaysFirst .ellipseLaptop {
  text-align: center;
  position: relative;
}

.titleBeAlwaysFirst {
  height: 700px;
  width: 600px;
  margin: 0 auto;
  font-family: "Raleway";
  text-align: justify;
  font-size: 20px;
  font-weight: 100;
  position: relative;
  background-color: white;
  align-content: center;
  margin-top: 80px;
}

.titleBeAlwaysFirst h2 {
  position: relative;
  margin-left: 50px;
  font-size: 50px;
  font-weight: 400;
  bottom: 60px;
}

.titleBeAlwaysFirst h4 {
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  width: 500px;
  position: relative;
  margin-left: 50px;
  bottom: 20px;
}

.divImagenLaptopEllipseRoja img {
  position: relative;
  bottom: 70px;
  z-index: 2;
  height: auto;
  width: 320px;
  right: 10px;
}

.ellipseLaptop {
  background-color: #FB3B64;
  border-radius: 70px;
  height: 150px;
  width: 150px;
  z-index: 1;
  transform: rotate(45deg);
  position: relative;
  left: 300px;
  z-index: 1;
  top: 40px;
}

.pricing {
  margin-top: 100px;
}

.pricing .titleh2Pricing {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 50px;
}

.selectorMoneda {
  width: 250px;
  height: 45px;
}

.pricing .pricingBasic {
  border: 3px solid #FB3B64;
  height: 308px;
  width: 350px;
  border-radius: 18px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 350px;
  margin-top: 160px;
}

.pricingBasic .pricingBasicInformation2 {
  display: none;
}

.pricing .pricingProfessional {
  transform: scale(1.8);
}

.pricing .pricingPremium {
  transform: scale(1.8);
}

.pricing .pricingBasic {
  transform: scale(1.8);
}

.divSimboloYPrecio, .divSimboloYPrecio1, .divSimboloYPrecio2 {
  display: flex;
  position: relative;
  bottom: 30px;
}

.pricing .pricingProfessional {
  border: 3px solid #08A6E4;
  height: 308px;
  width: 350px;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 350px;
}

.pricing .pricingPremium {
  border: 3px solid #55DFB4;
  height: 308px;
  width: 350px;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.pricingPremiumInformation .checkbox1PremiumInformation {
  position: relative;
  top: 38px;
  right: 25px;
}

.pricingPremiumInformation .checkbox2PremiumInformation {
  position: relative;
  top: 77px;
  right: 40px;
}

.pricingPremiumInformation .checkbox3PremiumInformation {
  position: relative;
  top: 114px;
  right: 55px;
}

.pricingPremiumInformation .checkbox4PremiumInformation {
  position: relative;
  top: 154px;
  right: 70px;
}

.pricingPremiumInformation .checkbox5PremiumInformation {
  position: relative;
  top: 192px;
  right: 85px;
}

.btnBeginPremium {
  color: white;
  background-color: #55DFB4;
  border: none;
  height: 50px;
  width: 150px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 30px;
  right: 105px;
  border-radius: 25px;
}

.btnBeginPremium p {
  position: relative;
  top: 12px;
  right: 0px;
}

.pricingPremium .pricingBasicInformationEnPREMIUM {
  display: none;
  z-index: 1;
}

.anyQuestions {
  height: 50px;
  width: 300px;
  justify-self: center;
  text-align: left;
  transform: scale(1.8);
  margin-bottom: 400px;
}

.anyQuestions h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 35px;
  position: relative;
}

.anyQuestions h5 {
  font-family: "Open Sans";
  font-weight: 300;
  position: relative;
  bottom: 20px;
}

.anyQuestionsEjemplo {
  font-family: "Open Sans";
  color: #A5A5A5;
}

.anyQuestionsEjemplo .parrafoEmail {
  position: relative;
  bottom: 45px;
  left: 35px;
}

.anyQuestionsEjemplo .imagenTelefono {
  position: relative;
  bottom: 45px;
}

.anyQuestionsEjemplo .parrafoNumero {
  position: relative;
  bottom: 90px;
  left: 35px;
}

.anyQuestions .anyQuestionsRellenarDatos {
  position: relative;
  bottom: 60px;
}

.anyQuestionsRellenarDatos p {
  color: #08A6E4;
  font-family: "Open Sans";
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.anyQuestionsRellenarDatos .inputName {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
  width: 100%;
  border-bottom: solid #A5A5A5;
  border-width: 1.5px;
  outline: none;
}

.anyQuestionsRellenarDatos .inputEmail {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #A5A5A5;
  width: 100%;
  border-width: 1.5px;
  outline: none;
}

.input:required {
  border: 3px solid red;
}

.warnings {
  color: red;
  margin-top: 70px;
}

.moreInformation {
  font-family: "Open Sans";
  color: #707070;
  width: 320px;
  justify-content: left;
  font-size: 12px;
}

.moreInformation .labelCheck {
  position: relative;
  left: 30px;
  text-align: left;
}

.moreInformation .moreInformationCheckbox {
  height: 20px;
  width: 20px;
  position: relative;
  top: 9px;
  border-radius: 14px 14px 14px 14px;
}

.btnSend {
  position: relative;
  top: 50px;
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 40px 40px 40px 40px;
  height: 50px;
  width: 200px;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Raleway";
  position: relative;
  left: 100px;
}

.footer {
  margin-top: 1300px;
  justify-self: center;
  text-align: left;
  width: 100%;
  position: relative;
  transform: scale(1.5);
  height: auto;
}

.footer .tituloYMarcaRegistradaFooter h2 {
  font-family: "Raleway";
  font-weight: 300;
  position: relative;
  color: #08A6E4;
  top: 20px;
}

.btnOpenYourShop2 {
  display: none;
}

.divTitlePrincipal img {
  height: 40px;
  width: 60px;
  position: relative;
  bottom: 140px;
  right: -400px;
}

.PrincipalTitleSellMore .titleSellMore {
  font-weight: 400;
  font-family: "Raleway";
  margin-top: 100px;
  font-size: 80px;
}

.titleYourShopIsWhereYouAre {
  font-family: "Raleway";
  height: 700px;
  width: 600px;
  margin: 0 auto;
  text-align: justify;
  font-size: 20px;
  font-weight: 100;
  background-color: white;
}

.titleYourShopIsWhereYouAre h2 {
  width: 350px;
  position: relative;
  margin-left: 50px;
  font-size: 50px;
  font-weight: 400;
}

.titleYourShopIsWhereYouAre h4 {
  text-align: justify;
  font-family: "Open Sans";
  position: relative;
  font-size: 25px;
  font-weight: 400;
  width: 500px;
  margin-left: 50px;
}

.titleIncreaseRecognitionYourBrand {
  font-family: "Raleway";
  height: 700px;
  width: 600px;
  margin: 0 auto;
  text-align: justify;
  font-size: 20px;
  font-weight: 100;
  background-color: white;
  z-index: 1;
  margin-bottom: 320px;
}

.titleIncreaseRecognitionYourBrand h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 50px;
  width: 400px;
  margin-left: 50px;
  position: relative;
  top: 50px;
}

.titleIncreaseRecognitionYourBrand h4 {
  text-align: justify;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  margin-left: 50px;
  position: relative;
  top: 50px;
  width: 500px;
}

.rectangleTrumpet {
  background-color: #55DFB4;
  height: 350px;
  width: 100%;
  z-index: 2;
  position: relative;
  top: 100px;
}

.rectangleTrumpet img {
  margin-top: 30px;
  position: relative;
  height: auto;
  width: 500px;
}

.ellipseMobile {
  background-color: #08A6E4;
  border-radius: 120px 120px 120px 120px;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.ellipseMobile img {
  position: relative;
  top: 10px;
  width: auto;
  height: 240px;
}

.imagenLaptopConEllipseRoja {
  display: block;
  margin: 0 auto;
}

.pricingBasicTitle {
  font-family: "Raleway";
  font-size: 20px;
  z-index: 1;
  padding-top: 50px;
  margin: 0 auto;
  width: 50px;
  position: absolute;
  left: 60px;
}

.pricingBasicTitle h3 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 200;
  font-size: 55px;
  text-align: left;
  position: relative;
  bottom: 40px;
}

.pricingBasicTitle h4 {
  font-size: 25px;
  position: relative;
  top: 15px;
}

.pricingBasicInformation {
  font-family: "Open Sans";
  text-align: left;
  position: absolute;
  left: 170px;
  top: 10px;
  width: 290px;
}

.pricingBasicInformation .checkbox1BsicInformation {
  position: relative;
  top: 38px;
  left: 6px;
}

.pricingBasicInformation .checkbox2BsicInformation {
  position: relative;
  top: 77px;
  right: 10px;
}

.pricingBasicInformation .checkbox3BsicInformation {
  position: relative;
  top: 114px;
  right: 26px;
}

.pricingBasicInformation .checkbox4BsicInformation {
  position: relative;
  top: 154px;
  right: 41px;
}

.pricingBasicInformation .checkbox5BsicInformation {
  position: relative;
  top: 192px;
  right: 56px;
}

.pricingBasicInformation p {
  margin-left: 30px;
}

.pricingBasicTitle p {
  font-family: "Open Sans";
  text-align: right;
  padding-right: 30px;
  z-index: 1;
}

.btnBegin {
  color: white;
  background-color: #FB3B64;
  border: none;
  height: 50px;
  width: 150px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 40px;
  right: 65px;
  border-radius: 25px;
}

.btnBegin p {
  position: relative;
  top: 12px;
  right: 13px;
}

.btnBegin2 {
  color: white;
  background-color: #FB3B64;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  position: relative;
  display: none;
}

.pricingProfessionalInformation .pricingBasicInformationEnPROFESSIONAL {
  display: none;
  z-index: 2;
}

.pricingProfessionalTitle {
  font-family: "Raleway";
  font-size: 20px;
  z-index: 1;
  padding-top: 50px;
  margin: 0 auto;
  width: 50px;
  position: absolute;
}

.pricingProfessionalInformation {
  font-family: "Open Sans";
  text-align: left;
  position: relative;
  left: 210px;
  top: 20px;
}

.pricingProfessionalInformation .pricingProfessionalChecksInformation2 {
  display: none;
  z-index: 2;
}

.pricingProfessionalTitle h3 {
  font-family: "Open Sans";
  color: #08A6E4;
  font-weight: 200;
  font-size: 55px;
  text-align: left;
  position: relative;
  bottom: 40px;
  left: 30px;
}

.pricingProfessionalTitle h4 {
  font-size: 25px;
  position: relative;
  left: 15px;
  top: 20px;
}

.pricingProfessionalTitle h6 {
  font-size: 15px;
  position: relative;
  bottom: 140px;
  right: 20px;
  width: 200px;
}

.pricingProfessionalInformation .checkbox1ProfessionalInformation {
  position: relative;
  top: 38px;
  right: 25px;
}

.pricingProfessionalInformation .checkbox2ProfessionalInformation {
  position: relative;
  top: 77px;
  right: 40px;
}

.pricingProfessionalInformation .checkbox3ProfessionalInformation {
  position: relative;
  top: 114px;
  right: 55px;
}

.pricingProfessionalInformation .checkbox4ProfessionalInformation {
  position: relative;
  top: 154px;
  right: 70px;
}

.pricingProfessionalInformation .checkbox5ProfessionalInformation {
  position: relative;
  top: 192px;
  right: 85px;
}

.btnBeginProfessional {
  color: white;
  background-color: #08A6E4;
  border: none;
  height: 50px;
  width: 150px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 30px;
  right: 105px;
  border-radius: 25px;
}

.btnBeginProfessional p {
  position: relative;
  top: 12px;
  right: 0px;
}

.pricingPremiumTitle {
  font-family: "Raleway";
  font-size: 20px;
  z-index: 1;
  padding-top: 50px;
  margin: 0 auto;
  width: 50px;
  position: absolute;
}

.pricingPremiumTitle h3 {
  font-family: "Open Sans";
  color: #55DFB4;
  font-weight: 200;
  font-size: 55px;
  text-align: left;
  position: relative;
  bottom: 40px;
  left: 30px;
}

.pricingPremiumTitle h4 {
  font-size: 25px;
  position: relative;
  left: 20px;
  top: 20px;
}

.pricingPremiumTitle h6 {
  font-size: 15px;
  position: relative;
  bottom: 140px;
  right: 20px;
  width: 200px;
}

.pricingPremiumInformation {
  font-family: "Open Sans";
  text-align: left;
  position: relative;
  left: 210px;
  top: 20px;
}

.anyQuestions {
  height: 50px;
  width: 300px;
  justify-self: center;
  text-align: left;
  transform: scale(1.8);
  margin-bottom: 400px;
}

.anyQuestions h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 35px;
  position: relative;
}

.anyQuestions h5 {
  font-family: "Open Sans";
  font-weight: 300;
  position: relative;
  bottom: 20px;
}

.anyQuestionsEjemplo {
  font-family: "Open Sans";
  color: #A5A5A5;
}

.anyQuestionsEjemplo .parrafoEmail {
  position: relative;
  bottom: 45px;
  left: 35px;
}

.anyQuestionsEjemplo .imagenTelefono {
  position: relative;
  bottom: 45px;
}

.anyQuestionsEjemplo .parrafoNumero {
  position: relative;
  bottom: 90px;
  left: 35px;
}

.anyQuestions .anyQuestionsRellenarDatos {
  position: relative;
  bottom: 60px;
}

.anyQuestionsRellenarDatos p {
  color: #08A6E4;
  font-family: "Open Sans";
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.anyQuestionsRellenarDatos .inputName {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
  width: 100%;
  border-bottom: solid #A5A5A5;
  border-width: 1.5px;
}

.anyQuestionsRellenarDatos .inputEmail {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #A5A5A5;
  width: 100%;
  border-width: 1.5px;
}

.moreInformation {
  font-family: "Open Sans";
  color: #707070;
  width: 320px;
  justify-content: left;
  font-size: 12px;
}

.moreInformation .labelCheck {
  position: relative;
  left: 800px;
  text-align: left;
}

.moreInformation .moreInformationCheckbox {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 14px 14px 14px 14px;
  display: flex;
  top: 25px;
  right: 30px;
  gap: 8px; /* Espacio entre el checkbox y el texto */
}

.btnSend {
  position: relative;
  top: 50px;
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 40px 40px 40px 40px;
  height: 50px;
  width: 200px;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Raleway";
  position: relative;
  left: 100px;
}

.footer .tituloYMarcaRegistradaFooter h6 {
  font-family: "Open Sans";
  font-weight: 300;
  color: #A5A5A5;
  position: relative;
}

.footer .tituloYMarcaRegistradaFooter h2, .footer .tituloYMarcaRegistradaFooter h6 {
  position: relative;
  left: 200px;
}

.footer .iconosFooter {
  position: relative;
  left: 930px;
  bottom: 80px;
  transform: scale(1.5);
}

.divTitlePrincipal2 {
  display: none;
  z-index: 2;
}

.divOpcionesMenu p {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.newsletter {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -180px;
  top: 35%;
  z-index: 1100;
  width: 360px;
  height: 200px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #08A6E4;
  font: normal normal normal 25px/41px Raleway;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
  transform: scale(2);
  border-radius: 2%;
}

.newsletter--visible {
  display: block;
  animation: fadeIn 1s;
}

.newsletter .newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

#close-newsletter {
  margin-left: 315px;
  width: 5.33%;
  max-width: 30px;
  cursor: pointer;
}

#newsletter-title {
  padding-left: 10px;
  max-width: none;
  transform: scale(0.8);
  position: relative;
  bottom: 10px;
}

#newsletter-input {
  width: 93%;
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid #95989A;
  padding: 5px 0;
  font: normal normal normal 16px/22px "Open Sans";
  transform: scale(0.8);
  position: relative;
  bottom: 5px;
}

#newsletter-input:focus {
  outline: none;
  border-color: #08A6E4;
}

#news-button {
  display: flex;
  margin-left: 125px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  font: normal normal bold 13px/18px "Open Sans";
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #08A6E4 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
  border-radius: 35px;
  border: none;
  cursor: pointer;
  transform: scale(0.8);
}

#slider {
  left: 50%; /* Centra el slider horizontalmente */
  transform: translateX(-50%); /* Alinea el slider al centro */
  width: 800px; /* Tamaño más grande del slider */
  height: 500px; /* Tamaño más grande del slider */
  overflow: hidden;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  margin-bottom: 70px;
  position: relative;
}

#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
}

#slider img.active {
  opacity: 1;
  visibility: visible;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  border-radius: 50%; /* Hace los botones circulares */
  width: 40px; /* Tamaño del círculo */
  height: 40px; /* Tamaño del círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Tamaño del icono */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
}

.slider-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Color al pasar el ratón */
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: scale(0.5);
}

.slider-dots span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.slider-dots span.active {
  background-color: black;
}

@media only screen and (min-width: 1500px) {
  .divOpcionesMenu {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  .divOpcionesMenu {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  * {
    margin: 0;
  }
  .container {
    text-align: center;
    overflow: hidden;
  }
  .progressBar {
    position: fixed;
    width: 100%;
    height: 8px;
    z-index: 999;
    top: 0;
  }
  .progress {
    width: 0%;
    height: 100%;
    background-color: #08A6E4;
    max-width: 100vw;
  }
  .selectorMoneda {
    width: 250px;
    height: 45px;
    position: relative;
    bottom: 300px;
    transform: scale(1.4);
  }
  button:hover {
    cursor: pointer;
  }
  .header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    margin-left: 0;
  }
  .divOpcionesMenu {
    position: relative;
    font-family: "Open Sans";
    color: #A5A5A5;
    letter-spacing: 4px;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .relleno {
    height: 100px;
    width: 100%;
    display: hidden;
    border: solid #08A6E4;
    z-index: 2000;
  }
  .divOpcionesMenu p {
    color: #A5A5A5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 100px;
    cursor: pointer;
    height: 100%;
    border-bottom: solid 5px white;
  }
  .divOpcionesMenu p:hover {
    color: black;
    border-bottom: solid 5px #08A6E4;
  }
  .divTitlePrincipal img {
    position: relative;
    left: 1000px;
  }
  .PrincipalTitleSellMore .titleSellMore {
    font-weight: 400;
    font-family: "Raleway";
    font-size: 50px;
    position: relative;
    padding-top: 40px;
  }
  .textoOpenYourShop {
    display: none;
  }
  .imagenGrandeOrdenador {
    width: 100%;
    height: 700px;
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .IconsWithColors h4 {
    transform: scale(1.6);
  }
  .pricing {
    transform: scale(0.55);
    height: 900px;
  }
  .pricing input:hover {
    cursor: pointer;
  }
  .pricingProfessional {
    position: relative;
    bottom: 1000px;
  }
  .pricing .pricingProfessional {
    height: 450px;
  }
  .pricing .pricingProfessional input {
    position: relative;
    color: white;
    background-color: #08A6E4;
    border-color: #08A6E4;
    height: 50px;
    width: 150px;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 80px;
    right: 255px;
    border-radius: 25px;
  }
  .pricingPremium {
    position: relative;
    bottom: 1800px;
    left: 750px;
  }
  .pricing .pricingPremium .btnBegin3 {
    position: relative;
    top: 95px;
  }
  .pricing .pricingPremium {
    height: 450px;
  }
  .pricingProfessionalTitle h6 {
    position: relative;
    top: 50px;
  }
  .divSimboloYPrecio1 {
    position: relative;
    top: 80px;
  }
  .divSimboloYPrecio2 {
    position: relative;
    top: 90px;
  }
  .nav {
    display: none;
  }
  .header .divTitlePrincipal2 {
    display: inline-block;
    color: #08A6E4;
    font-size: 10px;
  }
  .divTitlePrincipal2 .titlePrincipal {
    font-size: 40px;
    position: relative;
    top: 1px;
  }
  .divTitlePrincipal img {
    display: none;
  }
  .parrafosCabecera {
    display: inline-block;
    width: 900px;
    font-size: 15px;
    position: relative;
    bottom: 25px;
    font-family: "Open Sans";
    font-weight: 600;
    left: 700px;
    letter-spacing: 3px;
  }
  .btnOpenYourShop {
    display: none;
  }
  .btnOpenYourShop2 {
    background-color: #08A6E4;
    color: white;
    border: none;
    border-radius: 40px 40px 40px 40px;
    height: 50px;
    width: 400px;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-family: "Raleway";
    margin-top: 40px;
    display: inline-block;
  }
  .textoOpenShopOnOurPlatform {
    font-weight: 450;
    font-size: 15px;
    font-family: "Raleway";
    margin-top: 50px;
  }
  .textoOpenShopOnOurPlatform br {
    display: none;
  }
  .imagenPequeñaOrdenador {
    display: none;
  }
  .IconsWithColors {
    text-align: center;
    height: 600px;
  }
  .IconsWithColors .MostPopularSales {
    font-size: 40px;
    font-weight: 400;
  }
  .IconsWithColors .MostPopularSales br {
    display: none;
  }
  .redIconRojoTexto h4, .redIconAzulTexto h4, .redIconVerdeTexto h4 {
    margin-top: 10px;
  }
  .redIcon .blueIcon .greenIcon {
    margin: 20px;
    position: relative;
  }
  .redIcon {
    position: relative;
    right: 400px;
    transform: scale(0.6);
  }
  .blueIcon {
    position: relative;
    bottom: 330px;
    transform: scale(0.6);
  }
  .greenIcon {
    position: relative;
    left: 400px;
    bottom: 675px;
    transform: scale(0.6);
  }
  .redIconColorRojo, .redIconColorAzul, .redIconColorVerde {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    left: 1px;
  }
  .seccion3 {
    background-color: #F7F7F7;
    width: auto;
    height: 1500px;
    align-content: center;
    position: relative;
    margin: 0 auto;
    padding-bottom: 150px;
  }
  .titleBeAlwaysFirst {
    top: 50px;
    width: 1200px;
    position: relative;
    height: 400px;
  }
  .titleBeAlwaysFirst h2, .titleBeAlwaysFirst h4 {
    transform: scale(0.8);
  }
  .imagenLaptopConEllipseRoja {
    position: relative;
    left: 320px;
    top: 10px;
    height: auto;
    width: 300px;
  }
  .ellipseLaptop {
    position: relative;
    left: 940px;
    top: 110px;
    border-radius: 30px;
    height: 130px;
    width: 130px;
  }
  .titleBeAlwaysFirst h2 {
    position: relative;
    bottom: 280px;
    right: 30px;
    font-weight: 400;
  }
  .titleBeAlwaysFirst h4 {
    width: 500px;
    bottom: 250px;
    left: 40px;
    font-size: 20px;
  }
  .titleBeAlwaysFirst .lineaRoja {
    background-color: #FB3B64;
    height: 4px;
    width: 300px;
    position: relative;
    bottom: 200px;
    left: 140px;
  }
  .titleYourShopIsWhereYouAre {
    position: relative;
    top: 50px;
    width: 1200px;
    height: 400px;
    bottom: 50px;
    margin-top: 50px;
  }
  .ellipseMobile {
    position: relative;
    right: 400px;
    top: 100px;
    height: 200px;
    width: 200px;
  }
  .ellipseMobile img {
    height: auto;
    width: 250px;
    top: 20px;
  }
  .titleYourShopIsWhereYouAre h2, .titleYourShopIsWhereYouAre h4 {
    transform: scale(0.8);
  }
  .titleYourShopIsWhereYouAre h2 {
    position: relative;
    left: 570px;
    font-weight: 400;
    width: 350px;
    bottom: 180px;
  }
  .titleYourShopIsWhereYouAre h4 {
    position: relative;
    height: auto;
    width: 600px;
    left: 550px;
    bottom: 180px;
    font-size: 20px;
  }
  .titleYourShopIsWhereYouAre .lineaAzul {
    background-color: #08A6E4;
    height: 4px;
    width: 300px;
    position: relative;
    bottom: 140px;
    left: 660px;
  }
  .titleIncreaseRecognitionYourBrand {
    position: relative;
    top: 100px;
    width: 650px;
    height: 400px;
    right: 280px;
  }
  .titleIncreaseRecognitionYourBrand h2, .titleIncreaseRecognitionYourBrand h4 {
    transform: scale(0.8);
  }
  .titleIncreaseRecognitionYourBrand .rectangleTrumpet {
    position: relative;
    left: 800px;
    top: -250px;
    height: 400px;
    width: 400px;
  }
  .titleIncreaseRecognitionYourBrand h2 {
    position: relative;
    font-weight: 400;
    width: 500px;
    right: 50px;
    top: 30px;
  }
  .titleIncreaseRecognitionYourBrand h4 {
    position: relative;
    top: 30px;
    right: 60px;
    width: 600px;
    font-size: 20px;
  }
  .titleIncreaseRecognitionYourBrand .lineaVerde {
    background-color: #55DFB4;
    height: 4px;
    width: 300px;
    position: relative;
    bottom: 330px;
    left: 50px;
  }
  .rectangleTrumpet img {
    position: relative;
    height: 250px;
    top: 80px;
  }
  .titleh2Pricing {
    margin-bottom: 60px;
    position: relative;
    bottom: 300px;
    justify-self: center;
    transform: scale(1.5);
  }
  .pricingBasic {
    position: relative;
    right: 750px;
    width: 1000px;
    bottom: 200px;
  }
  .pricingBasic:hover {
    box-shadow: 10px 10px 15px #FB3B64;
    transform: scale(1.9);
    transition: transform 0.3s ease-in-out;
  }
  .pricing .pricingBasic {
    height: 450px;
  }
  .divSimboloYPrecio {
    position: relative;
    top: 80px;
  }
  .pricingBasicTitle h4 {
    position: relative;
    top: 40px;
  }
  .pricing input {
    position: relative;
    top: 170px;
    right: 80px;
    display: inline-block;
  }
  .pricingBasic .pricingBasicTitle {
    position: relative;
    bottom: 60px;
    height: 50px;
    left: -1px;
  }
  .pricingBasic .pricingBasicInformation {
    display: none;
    z-index: 2;
  }
  .pricingBasicInformation2 p {
    margin-bottom: 20px;
  }
  .pricingBasic .pricingBasicInformation2 {
    position: relative;
    right: 500px;
    font-family: "Open Sans";
    position: relative;
    display: inline-block;
    left: 80px;
    bottom: -70px;
    z-index: 1;
  }
  .pricingProfessional:hover {
    box-shadow: 10px 10px 15px #08A6E4;
    transform: scale(1.9);
    transition: transform 0.3s ease-in-out;
  }
  .pricingProfessional .pricingProfessionalChecksInformation {
    display: none;
    z-index: 2;
  }
  .pricingProfessional .pricingProfessionalTitle {
    position: relative;
    right: 50px;
    bottom: 70px;
  }
  .pricingProfessionalTitle h4 {
    position: relative;
    top: 40px;
    left: -1px;
  }
  .pricingProfessionalInformation .pricingBasicInformationEnPROFESSIONAL {
    position: relative;
    font-family: "Open Sans";
    display: inline-block;
    bottom: 10px;
    z-index: 1;
    right: 100px;
    text-align: center;
  }
  .pricingProfessionalInformation .pricingBasicInformationEnPROFESSIONAL p {
    margin-bottom: 20px;
  }
  .pricingPremium:hover {
    box-shadow: 10px 10px 15px #55DFB4;
    transform: scale(1.9);
    transition: transform 0.3s ease-in-out;
  }
  .pricingPremiumInformation .pricingPremiumChecksInformation {
    display: none;
    z-index: 2;
  }
  .pricingPremium .pricingBasicInformationEnPREMIUM {
    display: inline-block;
    position: relative;
    font-family: "Open Sans";
    text-align: center;
    left: 80px;
    height: 100px;
  }
  .pricingBasicInformationEnPREMIUM p {
    margin-bottom: 20px;
  }
  .pricing .pricingPremium input {
    position: relative;
    color: white;
    background-color: #55DFB4;
    border-color: #55DFB4;
    height: 50px;
    width: 150px;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
    position: relative;
    bottom: 150px;
    right: 75px;
    border-radius: 25px;
    border: none;
  }
  .pricingPremium .pricingPremiumTitle {
    position: relative;
    bottom: 80px;
    right: 50px;
  }
  .pricingPremium .pricingPremiumTitle h4 {
    position: relative;
    left: 20px;
    top: 50px;
  }
  .pricingPremiumTitle h6 {
    position: relative;
    top: 60px;
  }
  .anyQuestions {
    position: relative;
    bottom: 150px;
    left: 100px;
    transform: scale(1.2);
  }
  .anyQuestions h2 {
    font-size: 50px;
    width: 360px;
  }
  .anyQuestions h2, .anyQuestions h5, .anyQuestions .anyQuestionsEjemplo {
    position: relative;
    right: 300px;
  }
  .anyQuestions h5 {
    top: 20px;
  }
  .anyQuestionsRellenarDatos p {
    padding-bottom: 10px;
  }
  .anyQuestionsEjemplo {
    position: relative;
    top: 100px;
  }
  .anyQuestionsEjemplo .imagenTelefono {
    position: relative;
    left: 210px;
    bottom: 90px;
  }
  .anyQuestionsEjemplo .imagenEmail {
    position: relative;
    bottom: 35px;
  }
  .anyQuestionsEjemplo .parrafoNumero {
    position: relative;
    left: 245px;
    bottom: 120px;
  }
  .anyQuestionsEjemplo .parrafoEmail {
    position: relative;
    bottom: 65px;
  }
  .anyQuestions .anyQuestionsRellenarDatos, .anyQuestions .moreInformation {
    position: relative;
    left: 200px;
    bottom: 310px;
  }
  .formulario {
    position: relative;
    top: 150px;
  }
  .slider {
    overflow-y: hidden;
    position: relative;
    bottom: 170px;
  }
  .footer {
    margin-top: 0px;
    width: 100%;
    height: 80px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
  }
  .footer .tituloYMarcaRegistradaFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 200px;
  }
  .footer .tituloYMarcaRegistradaFooter h2 {
    margin: 0;
  }
  .footer .tituloYMarcaRegistradaFooter h6 {
    margin-top: 20px;
  }
  .footer .iconosFooter {
    left: 100vw;
    bottom: 35px;
  }
}

/*# sourceMappingURL=styles.css.map */
