@charset "UTF-8";
/*@media only screen and (min-width: 975px){
    .redIcon, .blueIcon, .greenIcon {
        position: relative;
        text-align: center;
    }
}*/
.container {
  text-align: center;
  /*  margin-left: 30em;
    margin-right: 30em; 
    padding-left: 20em;
    padding-right: 20em;*/
}

.header .divTitlePrincipal {
  color: #08A6E4;
  font-weight: 10;
  font-family: "Raleway";
}

.titlePrincipal {
  font-weight: 300;
  font-size: 90;
  font-family: "Raleway";
}

.btnOpenYourShop {
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 40px 40px 40px 40px;
  height: 50px;
  width: 250px;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  filter: drop-shadow(5px 10px 8px rgba(7, 172, 230, 0.2901960784));
  font-family: "Raleway";
}

.PrincipalTitleSellMore .titleSellMore {
  font-weight: 400;
  font-family: "Raleway";
}

.textoOpenShopOnOurPlatform {
  font-weight: 450;
  font-size: 15px;
  font-family: "Raleway";
}

.imagenPequeñaOrdenador {
  margin-left: 300px;
  margin-right: 300px;
  height: 200px;
}

.IconsWithColors h2 {
  font-weight: 300;
  font-family: "Raleway";
}

.IconsWithColors h3 {
  letter-spacing: 5px;
  font-family: "Raleway";
}

.IconsWithColors h4 {
  font-weight: 300;
  color: grey;
  font-family: "Raleway";
}

.redIcon {
  position: relative;
}

.redIcon .rectanguloRojo {
  background-color: #FB3B64;
  width: 60px;
  height: 60px;
  border-radius: 100px 100px 100px 100px;
  position: absolute;
  top: 0.1em;
  left: 27em;
  z-index: -1;
}

.blueIcon {
  position: relative;
}

.blueIcon .rectanguloAzul {
  background-color: #08A6E4;
  width: 60px;
  height: 60px;
  border-radius: 100px 100px 100px 100px;
  position: absolute;
  top: -0.6em;
  left: 27em;
  z-index: -1;
}

.greenIcon {
  position: relative;
}

.greenIcon .rectanguloVerde {
  background-color: #55DFB4;
  width: 60px;
  height: 60px;
  border-radius: 100px 100px 100px 100px;
  position: absolute;
  top: -0.1em;
  left: 27em;
  z-index: -1;
}

.titleBeAlwaysFirst .ellipseLaptop {
  text-align: center;
}

.titleBeAlwaysFirst {
  max-width: 350px;
  margin: 0 auto;
  font-family: "Raleway";
  text-align: justify;
  font-size: 20px;
  font-weight: 100;
  position: relative;
}

.titleBeAlwaysFirst h4 {
  text-align: justify;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.titleYourShopIsWhereYouAre {
  font-family: "Raleway";
  max-width: 350px;
  margin: 0 auto;
  text-align: justify;
  font-size: 20px;
  font-weight: 100;
}

.titleYourShopIsWhereYouAre h4 {
  text-align: justify;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.titleIncreaseRecognitionYourBrand {
  font-family: "Raleway";
  max-width: 350px;
  margin: 0 auto;
  text-align: justify;
  font-size: 20px;
  font-weight: 100;
}

.titleIncreaseRecognitionYourBrand h4 {
  text-align: justify;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.rectangleTrumpet {
  background-color: #55DFB4;
  height: 205px;
  width: 355px;
}

.rectangleTrumpet img {
  margin-top: 30px;
}

.ellipseLaptop {
  background-color: #FB3B64;
  border-radius: 41px 41px 41px 41px;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 1;
  right: 0;
  z-index: 1;
  transform: rotate(45deg);
}

.ellipseMobile {
  background-color: #08A6E4;
  border-radius: 100px 100px 100px 100px;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.imagenLaptopConEllipseRoja {
  display: block;
  margin: 0 auto;
}

/*
.titleBeAlwaysFirst .ellipseMobile{
    text-align: center;
}
*/
.pricing {
  margin-top: 100px;
}

.pricing .pricingBasic {
  border: 3px solid #FB3B64;
  height: 308px;
  width: 350px;
  border-radius: 18px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.titleh2Pricing h2 {
  font-family: "Ralweay";
}

.pricingBasicTitle {
  font-family: "Raleway";
  font-size: 20px;
  z-index: 1;
  padding-top: 50px;
  margin: 0 auto;
  width: 50px;
  position: absolute;
  left: 60px;
}

.pricingBasicTitle h3 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 200;
  font-size: 55px;
  text-align: left;
  position: relative;
  bottom: 40px;
}

.pricingBasicTitle h4 {
  font-size: 25px;
  position: relative;
  top: 15px;
}

.pricingBasicInformation {
  font-family: "Open Sans";
  text-align: left;
  position: absolute;
  left: 170px;
  top: 10px;
  width: 290px;
}

.pricingBasicInformation .checkbox1BsicInformation {
  position: relative;
  top: 38px;
  left: 6px;
}

.pricingBasicInformation .checkbox2BsicInformation {
  position: relative;
  top: 77px;
  right: 10px;
}

.pricingBasicInformation .checkbox3BsicInformation {
  position: relative;
  top: 114px;
  right: 26px;
}

.pricingBasicInformation .checkbox4BsicInformation {
  position: relative;
  top: 154px;
  right: 41px;
}

.pricingBasicInformation .checkbox5BsicInformation {
  position: relative;
  top: 192px;
  right: 56px;
}

.pricingBasicInformation p {
  margin-left: 30px;
}

.pricingBasicTitle p {
  font-family: "Open Sans";
  text-align: right;
  padding-right: 30px;
  z-index: 1;
}

.btnBegin {
  color: white;
  background-color: #FB3B64;
  border-color: #FB3B64;
  height: 50px;
  width: 150px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 40px;
  right: 65px;
  border-radius: 25px;
}

.btnBegin p {
  position: relative;
  top: 12px;
  right: 13px;
}

.pricing .pricingProfessional {
  border: 3px solid #08A6E4;
  height: 308px;
  width: 350px;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.pricingProfessionalTitle {
  font-family: "Raleway";
  font-size: 20px;
  z-index: 1;
  padding-top: 50px;
  margin: 0 auto;
  width: 50px;
  position: absolute;
}

.pricingProfessionalInformation {
  font-family: "Open Sans";
  text-align: left;
  position: relative;
  left: 210px;
  top: 20px;
}

.pricingProfessionalTitle h3 {
  font-family: "Open Sans";
  color: #08A6E4;
  font-weight: 200;
  font-size: 55px;
  text-align: left;
  position: relative;
  bottom: 40px;
  left: 30px;
}

.pricingProfessionalTitle h4 {
  font-size: 25px;
  position: relative;
  left: 15px;
  top: 20px;
}

.pricingProfessionalTitle h6 {
  font-size: 15px;
  position: relative;
  bottom: 90px;
  right: 20px;
  width: 200px;
}

.pricingProfessionalInformation .checkbox1ProfessionalInformation {
  position: relative;
  top: 38px;
  right: 25px;
}

.pricingProfessionalInformation .checkbox2ProfessionalInformation {
  position: relative;
  top: 77px;
  right: 40px;
}

.pricingProfessionalInformation .checkbox3ProfessionalInformation {
  position: relative;
  top: 114px;
  right: 55px;
}

.pricingProfessionalInformation .checkbox4ProfessionalInformation {
  position: relative;
  top: 154px;
  right: 70px;
}

.pricingProfessionalInformation .checkbox5ProfessionalInformation {
  position: relative;
  top: 192px;
  right: 85px;
}

.btnBeginProfessional {
  color: white;
  background-color: #08A6E4;
  border-color: #08A6E4;
  height: 50px;
  width: 150px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 30px;
  right: 105px;
  border-radius: 25px;
}

.btnBeginProfessional p {
  position: relative;
  top: 12px;
  right: 0px;
}

.pricing .pricingPremium {
  border: 3px solid #55DFB4;
  height: 308px;
  width: 350px;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.pricingPremiumTitle {
  font-family: "Raleway";
  font-size: 20px;
  z-index: 1;
  padding-top: 50px;
  margin: 0 auto;
  width: 50px;
  position: absolute;
}

.pricingPremiumTitle h3 {
  font-family: "Open Sans";
  color: #55DFB4;
  font-weight: 200;
  font-size: 55px;
  text-align: left;
  position: relative;
  bottom: 40px;
  left: 30px;
}

.pricingPremiumTitle h4 {
  font-size: 25px;
  position: relative;
  left: 15px;
  top: 20px;
}

.pricingPremiumTitle h6 {
  font-size: 15px;
  position: relative;
  bottom: 90px;
  right: 20px;
  width: 200px;
}

.pricingPremiumInformation {
  font-family: "Open Sans";
  text-align: left;
  position: relative;
  left: 210px;
  top: 20px;
}

.pricingPremiumInformation .checkbox1PremiumInformation {
  position: relative;
  top: 38px;
  right: 25px;
}

.pricingPremiumInformation .checkbox2PremiumInformation {
  position: relative;
  top: 77px;
  right: 40px;
}

.pricingPremiumInformation .checkbox3PremiumInformation {
  position: relative;
  top: 114px;
  right: 55px;
}

.pricingPremiumInformation .checkbox4PremiumInformation {
  position: relative;
  top: 154px;
  right: 70px;
}

.pricingPremiumInformation .checkbox5PremiumInformation {
  position: relative;
  top: 192px;
  right: 85px;
}

.btnBeginPremium {
  color: white;
  background-color: #55DFB4;
  border-color: #55DFB4;
  height: 50px;
  width: 150px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 30px;
  right: 105px;
  border-radius: 25px;
}

.btnBeginPremium p {
  position: relative;
  top: 12px;
  right: 0px;
}

.anyQuestions {
  height: 50px;
  width: 300px;
  justify-self: center;
  text-align: left;
}

.anyQuestions h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 35px;
  position: relative;
}

.anyQuestions h5 {
  font-family: "Open Sans";
  font-weight: 300;
  position: relative;
  bottom: 20px;
}

.footer {
  margin-top: 500px;
  justify-self: center;
  text-align: left;
  width: 300px;
}

.footer .iconoTwitter .iconoFacebook {
  justify-self: right;
}

/*# sourceMappingURL=styles.css.map */
