@mixin popUp {
    .newsletter{
        display: none;
        position: fixed;
        left: 50%;
        margin-left: -180px;
        top: 35%;
        z-index: 100;
        width: 360px;
        height: 200px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #08A6E4;
        font: normal normal normal 25px/41px Raleway;
        box-shadow: 5px 10px 14px #07ACE629;
        transform: scale(2);
        border-radius: 2%;
    }
    
    .newsletter--visible{
        display: block;
        animation: fadeIn 1s;
    }
    
    
    .newsletter .newsletter-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }
    
    #close-newsletter{
        margin-left: 315px;
        width: 5.33%;
        max-width: 30px;
        cursor: pointer;
    
    }
    
    #newsletter-title{
        padding-left: 10px;
        max-width: none;
    }
    
    #newsletter-input{
        width: 93%;
        margin-left: 10px;
        border: none;
        border-bottom: 1px solid #95989A;
        padding: 5px 0;
        font: normal normal normal 16px/22px 'Open Sans';
    }
    
    #newsletter-input:focus{
        outline: none;
        border-color: #08A6E4;
    }
    
    #news-button{
        display: flex;
        margin-left: 125px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        width:100px;
        height: 30px;
        font: normal normal bold 13px/18px 'Open Sans';
        letter-spacing: 0px;
        color: #FFFFFF;
        background: #08A6E4 0% 0% no-repeat padding-box;
        box-shadow: 5px 10px 14px #07ACE629;
        border-radius: 35px;
        border: none;
        cursor: pointer;
    }
}