@mixin slider{
    
#slider {
    //   position: absolute;  /* Posiciona el slider fuera del flujo normal del documento */
      // position: fixed;
       left: 50%;           /* Centra el slider horizontalmente */
       transform: translateX(-50%); /* Alinea el slider al centro */
       width: 800px;        /* Tamaño más grande del slider */
       height: 500px;       /* Tamaño más grande del slider */
       overflow: hidden;
       border-radius: 10px; /* Bordes redondeados */
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
       margin-bottom: 70px;
       position: relative;
    //  bottom: 170px;
     }
     
     #slider img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
       opacity: 0;
       visibility: hidden;
       transition: opacity 1s ease-in-out;
     }
     
     #slider img.active {
       opacity: 1;
       visibility: visible;
     }
     
     .slider-buttons {
       position: absolute;
       top: 50%;
       width: 100%;
       display: flex;
       justify-content: space-between;
       transform: translateY(-50%);
     }
     
     .slider-buttons button {
       background-color: rgba(0, 0, 0, 0.5);
       border: none;
       color: white;
       border-radius: 50%; /* Hace los botones circulares */
       width: 40px; /* Tamaño del círculo */
       height: 40px; /* Tamaño del círculo */
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 24px; /* Tamaño del icono */
       cursor: pointer;
       transition: background-color 0.3s ease;
     }
     
     .slider-buttons button:hover {
       background-color: rgba(0, 0, 0, 0.8); /* Color al pasar el ratón */
     }
     
     .slider-dots {
       position: absolute;
       bottom: 20px;
       width: 100%;
       display: flex;
       justify-content: center;
     }
     
     .slider-dots span {
       width: 20px;
       height: 20px;
       border-radius: 50%;
       background-color: white;
       margin: 0 10px;
       transition: background-color 0.3s ease;
     }
     
     .slider-dots span.active {
       background-color: black;
     }
}